@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    scrollbar-width: thin;
}

.welcome{
    background-color: #734060;
    color: #DDC5D8;
    padding: 10px;
    margin-bottom: 20px;
}

.welcome p{
    text-transform: capitalize;
    font-size: 1.1em;
    font-weight: 500;
    text-align: center;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1{
    padding-left: 35px;
    text-transform: capitalize;
    font-size: 1.7em;
    color: #72114f;
}

nav form{
    padding-right: 35px;
}

nav form input{
    padding: 10px 40px;
    border-radius: 10px;
    border-color: #734060;
}

nav form button{
    padding: 11px 15px;
    margin-left: 5px;
    border: none;
    border-radius: 10px;
    background-color: #734060;
    color: #fff;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

nav form button:hover{
    background-color: #ad3092;  
}

.recipe-container{
    margin-top: 60px;
    font-size: 0.9em;
    color: #72114f;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    width: 80%;
    margin: 10px auto;
    padding: 25px;
    place-items: center;
}



/* js html styling */

.recipe{
    /* background-color: #DDC5D8; */
    display: flex;
    flex-direction: column;
    cursor: pointer;
    max-width: 350px;
    border: 2px solid #734060;
    border-radius: 8px;
}

.recipe img{
    height: 300px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.recipe h3{
    font-size: 19px;
    margin-top: 10px;
}

.recipe p{
    font-size: 17px;
    margin-top: 6px;
}

.recipe button{
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: #734060;
    color: #fff;
    margin-top: 10px;
    transition: ease-in-out 0.2s;
}

.recipe button:hover{
    background-color: #ad3092;
}


/* pop-up function */
.recipe-details{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    color: #720e4e;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.23);
    width: 50%;
    height: 60%;
    font-size: 17px;
    transition: all 0.5s ease-in-out;
    overflow-y: scroll;
}


.closeBtn .cross{
    font-size: 25px;
    cursor: pointer;
}

.recipe-details-content h2{
    padding: 6px 15px;
    font-size: 33px;
    text-align: center;
}

.recipe-details-content h3{
    padding: 6px 15px;
    text-decoration: underline;
    font-size: 25px;
}

.recipe-details-content ul{
    list-style: number;
    padding: 24px;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;

}

.recipeInstructions{
    margin-top: 25px;
}

.recipeInstructions h3{
    font-size: 25px;
}

.instructions{
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
}